<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Editar Propuesta</strong></h3>
        </div>
        <div class="panel-body">
            <form [formGroup]="propuestaForm">

                <app-custom-alert *ngIf="showMessage" type="{{typeMessage}}" message="{{message}}"
                    id="id-custom-message" class="custom-message-{{typeMessage}}"></app-custom-alert>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre_propuesta" class="control-label">T&iacute;tulo</label>
                        <input validar type="text" class="form-control" id="nombre_propuesta" name="nombre_propuesta"
                            placeholder="T&iacute;tulo" formControlName="nombre" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre_cliente" class="control-label">Nombre Cliente</label>
                        <input validar type="text" class="form-control" id="nombre_cliente" name="nombre_cliente"
                            placeholder="Nombre Cliente" formControlName="nombreCliente" autocomplete="off">
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label for="descripcion_propuesta" class="control-label">Descripci&oacute;n</label>
                    <textarea validar class="form-control custom-textarea-no-resizable" rows="3"
                        id="descripcion_propuesta" name="descripcion_propuesta" placeholder="Descripci&oacute;n"
                        formControlName="descripcion"></textarea>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="valor_propuesta" class="control-label">Valor</label>
                        <input validar type="number" class="form-control" id="valor_propuesta" name="valor_propuesta"
                            placeholder="Valor" formControlName="valor" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Estado</label>
                        <div class="form-control-static">
                            <span class="label label-{{propuestaForm.get('estado').value==1? 'success': 'default'}}">
                                {{propuestaForm.get('estado').value == 1? 'Publicada': 'En edición'}}</span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fecha_creacion" class="control-label">Fecha Creaci&oacute;n</label>
                        <div class="form-control-static"><span class="form-control-static">{{propuestaForm.get('fechaCreacion').value | date: 'yyyy-MM-dd h:mm a'}}</span></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fecha_publicacion" class="control-label">Fecha Publicaci&oacute;n</label>
                        <div class="form-control-static"><span class="form-control-static">{{propuestaForm.get('fechaPublicacion').value | date: 'yyyy-MM-dd h:mm a'}}</span></div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <button (click)="editarPropuesta()"  class="btn btn-success" [disabled]="!propuestaForm.valid">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Guardar
                    </button>&nbsp;
                    <button *ngIf="propuestaForm.get('estado').value !== 1" (click)="publicarPropuesta(propuestaForm.get('id').value)" class="btn btn-default"
                    [disabled]="!propuestaForm.valid">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    Publicar
                </button>&nbsp;
                    <a id="linkListarPropuesta" routerLink="/propuesta/listar" routerLinkActive="active" class="btn btn-default">
                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                        Cancelar
                    </a>
                </div>

            </form>
        </div>
    </div>

    <app-propuesta-requerimiento [propuestaId]="currentPropuestaId"></app-propuesta-requerimiento>

</div>